/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* other styles go here */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu',
  'Cantarell',
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  'Mabry Pro',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.loader {
  border: 2px dashed #fff;
  /* Adjust border size and color as needed */
  border-radius: 50%;
  border-top: 4px dashed transparent;
  /* Hide the top border to create a dashed effect */
  width: 32px;
  /* Adjust width and height as needed */
  height: 32px;
  animation: spin 1s linear infinite;
  /* Rotate the loader infinitely */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.hamburger-icon,
.close-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 24px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

.close-icon {
  display: none;
}